.home-container {
  width: 90%;
  box-sizing: border-box;
  margin: 40px auto;
  text-align: center;
}

.side-by-side {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  align-items: center;
  text-align: left; 
}

.side-by-side img {
  border-radius: 30px;
  object-fit: cover;
}

.side-by-side p {
  flex: 1; 
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
}
