.navbar-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  box-sizing: border-box;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0px auto;
  margin-bottom: 40px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  padding: 2rem 5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.site-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem; 
}

.navbar-links a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-links a:hover,
.navbar-links a.active {
  color: #3b82f6;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  font-size: 1.7rem;
}

.navbar-right a{
    color: black;
}

.navbar-right a.instagram:hover {
  color: #e1306c;
}

.navbar-right a.linkedin:hover {
  color: #0a66c2;
}

.navbar-right a.github:hover {
  color: purple;
}
